.closed{
	display: none;
}
.opened{
	display: block;
}

button{
	width:150px;
  	background-color: red;
  	margin-left:15px;
  	font-size:120%;
}
#hemm{
	color:white;
	background-color: #7F7F7F;
    padding:10px;
    font-size:120%
}
	
	